.board {
  display: flex;
  align-self: stretch;
  &__content {
    display: flex;
    &--left {
      height: 600px;
      flex: 1;
      overflow: scroll;
      background-color: #e4eef1;
    }
    &--right {
      flex: 2;
    }
  }
}
