.jobs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.job {
  padding: 12px;
  margin-bottom: 8px;
  background-color: #ffffff;
}

.job__info {
  margin-bottom: 8px;
}

.job__info__name {
  font-size: 16px;
}

.job__info__id {
  font-size: 16px;
  color: #8d8383;
}

.job__info__contact {
  font-size: 14px;
  color: #8d8383;
}

.job__description {
  display: flex;
}

.job__info__date {
  flex: 1;
  font-size: 14px;
  color: #8d8383;
}

.job__resources {
  flex: 1;
  text-align: right;
}

.job__resource {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #3d9bff;
  color: #3d9bff;
  font-weight: bold;
  font-size: 14px;
}
