.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100vh - 100px);

  background-color: #223048;

  &__icon {
    width: 40px;
    height: 40px;
    margin: 10px 5px;

    border-radius: 50%;
    background-color: #c4c4c4;
  }
}
