.jobList {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  align-content: start;
  grid-gap: var(--spacing);
  padding: var(--spacing);
  overflow: auto;
  background: var(--lighterGray);
}
